@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1c2431;
  padding: 30px 20px;
}

header img {
  width: 8rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 10rem;
      flex-basis: 10rem;
  margin-right: 0.5rem;
}

header a {
  display: block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 1.2rem;
  font-size: 0.8rem;
}

header a:hover {
  text-decoration: underline;
}

.block-first-intro {
  background: #1c2431;
}

.block-first-intro figure {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.block-first-intro img {
  width: 100%;
}

.block-first-intro h1 {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  color: white;
  text-align: center;
  font-size: 2rem;
}

.block-first-intro h2 {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  color: white;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 1.2rem;
  text-align: center;
}

.block-first-intro a {
  display: block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 1.2rem;
  margin: 0 auto;
  margin-top: 20px;
  padding: 15px 100px;
  background-image: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  border-radius: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.block-first-intro a:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#65e2d9));
  background-image: linear-gradient(to right, #65e2d9);
}

.block-second-grid-first {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #181f2a;
}

.block-second-grid-first div {
  margin-top: 100px;
  overflow: hidden;
}

.block-second-grid-first div img {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin-bottom: 30px;
}

.block-second-grid-first div h1 {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-size: 1.4rem;
}

.block-second-grid-first div h2 {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  color: white;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 1.2rem;
  text-align: center;
  font-size: 1rem;
}

@media screen and (max-width: 420px) {
  header nav {
    -ms-flex-preferred-size: 40vw;
        flex-basis: 40vw;
    margin-right: -3vw;
  }
  header img {
    width: 30%;
  }
  header a {
    font-size: 3.5vw;
  }
  .block-first-intro a {
    font-size: 4.5vw;
    padding: 15px 18vw;
  }
  .block-first-intro h1 {
    font-size: 6vw;
  }
  .block-first-intro h2 {
    font-size: 4vw;
  }
  .block-second-grid-first div h1 {
    font-size: 5vw;
  }
  .block-second-grid-first div h2 {
    font-size: 4vw;
  }
}

@media screen and (min-width: 992px) {
  header nav {
    -ms-flex-preferred-size: 12rem;
        flex-basis: 12rem;
  }
  header nav a {
    font-size: 1rem;
  }
  .block-second-grid-first {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}
/*# sourceMappingURL=style.css.map */