header {
    animation: animate-header 1s both;
}
@keyframes animate-header {
    from {transform: translateX(-150%);}
    to {transform: translateX(0);}
}

.block-first-intro, .block-second-grid-first{
    animation: animate-block-first-intro 1s 1s both;
}

@keyframes animate-block-first-intro {
    from {transform: translateY(150vh);}
    to {transform: translateY(0);}
}
