header {
    animation: animate-header 1s both;
}
@keyframes animate-header {
    from {transform: translateX(-150%);}
    to {transform: translateX(0);}
}

.block-first-intro  {
    animation: animate-block-first-intro 1.2s .5s both;
}
@keyframes animate-block-first-intro {
    from {transform: translateY(220%);}
    to {transform: translateY(0);}
}
