header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:$dark-blue-intro;
    padding: 30px 20px;    
    
    nav {
        display: flex;
        justify-content: space-between;
        flex-basis: 12rem;
        margin-right: 0.5rem;
    }
    img {
        width: 8rem;
    }

    a {
        display: inline-block;
        text-decoration: none;
        @include font ($raleway, lighter);
        font-size: 0.875rem;

        &:hover{
            text-decoration: underline;
        }
    }

}