header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:$dark-blue-intro;
    padding: 30px 20px;    

    img {
        width: 8rem;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        flex-basis: 10rem;
        margin-right: 0.5rem;
    }
  
    a {
        @include set-button;
        font-size: 0.8rem;
        &:hover{
            text-decoration: underline;
        }
    }

}