.block-first-intro {
 background: $dark-blue-intro;
 // url(/images/bg-curvy-mobile.svg) Finish styled background

 figure {
  @include width-margin;
 }

 img {
  width: 100%;
 }

 h1 {
  @include set-text-title;  
 }

 h2 {
  @include set-text-subtitle;  
  
 }
 a {
    @include set-button;
    margin: 0 auto;
    margin-top: 20px;
    padding: 15px 100px;   
    background-image: linear-gradient(to right,hsl(176, 68%, 64%), hsl(198, 60%, 50%) );
    border-radius: 25px;
    width: fit-content;

    &:hover{
        background-image:linear-gradient(to right,hsl(176, 68%, 64%));
    }
 }
 
}

.block-second-grid-first{
    display: grid;
    justify-content: center;
    background-color: $dark-blue-main;

    div{
        margin-top: 100px; 
        overflow: hidden;     
        
        img{
           display: inline-block;
           width: fit-content;
           margin: 0 50%;
           transform: translate(-50%);
           margin-bottom: 30px;
         }

        h1{
            @include set-text-title;
            font-size: 1.4rem;
        }

        h2 {
            @include set-text-subtitle;
            font-size: 1rem;
        }
    }     
}

.block-second-grid-second {
    //magic side padding: 20px
}
