@media screen and (max-width: $break-point-small-mobile) {
 header {
  nav {
   flex-basis: 38vw;
  }
  img {
   width: 30%;
  }
  a {
   font-size: 3.5vw;
  }
 }
 .block-first-intro {
  a {
   font-size: 4.5vw;
   padding: 15px 50px;
  }
  h1 {
   font-size: 6vw;
  }
  p {
   font-size: 4vw;
  }
 }
 .block-second-grid-first div {
  h1 {
   font-size: 5vw;
  }
  p {
   font-size: 4vw;
  }
 }
}


@media screen and (min-width: $break-point-desktop) {

 header nav a {
  font-size: 1rem;
 }

 .block-second-grid-first {
  grid-template-columns: auto auto;
 }

 .block-third-grid-second {
  grid-template-columns: auto auto;
  align-items: center;
 }
 .block-fourth-grid-third {
    grid-template-columns: auto auto auto;  
    div .quotes{
    top:-16.5%;
    }
 }

 .form .form-container{
   max-width: 900px;
 }
 .footer-container{
    grid-template-columns: 30% 19% 18% 18% auto;
    grid-template-rows: auto auto;   
    max-width: 900px;

    .logo{
       grid-column: 1/6;
    }

    .link-1 a, .link-2 a{
       width: 100%;
       padding-top: 0;
       padding-left: 20px;
    }
    .media{
      width: 100%;
    }

 }
}




@media screen and (max-width:375px) {
   .block-fourth-grid-third div .quotes{
      top:-15%;
   }
}
