@media screen and (max-width: $break-point-small-mobile) {
 header {
  nav {
   flex-basis: 38vw;
  }
  img {
   width: 30%;
  }
  a {
   font-size: 3.5vw;
  }
 }
 .block-first-intro {
  a {
   font-size: 4.5vw;
   padding: 15px 50px;
  }
  h1 {
   font-size: 6vw;
  }
  p {
   font-size: 4vw;
  }
 }
 .block-second-grid-first div {
  h1 {
   font-size: 5vw;
  }
  p {
   font-size: 4vw;
  }
 }
}
@media screen and (min-width: $break-point-desktop) {
 header nav a {
  font-size: 1rem;
 }

 //intro image

 .block-second-grid-first {
  grid-template-columns: auto auto;
 }

 .block-third-grid-second {
  grid-template-columns: auto auto;
  align-items: center;
 }
 .block-fourth-grid-third {
    grid-template-columns: auto auto auto;  
 }
}

//check quotes
