$dark-blue-intro: hsl(217, 28%, 15%);
$dark-blue-main: hsl(218, 28%, 13%);
$dark-blue-footer: hsl(216, 53%, 9%);
$dark-blue-testimonials: hsl(219, 30%, 18%);

$white:  hsl(0, 0%, 100%);

$green:hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);

$raleway:'Raleway', sans-serif;
$open:'Open Sans', sans-serif;

$break-point-small-mobile:420px;
$break-point-desktop: 992px;
